<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
<%- include('nav.ejs')%>

<div class="detail-bg">
    <h4><%=titleName.title%></h4>
    <p><%=contentName.content%></p>
    <img src="<%=imgURL.img%>">
</div>

</body>
</html>