<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
<%- include('nav.ejs')%>

<form class="form-box" action="/edit?_method=PUT" method="post">
    <h4>수정하기</h4>
    <input name="id" value="<%= result._id%>">
    <input name="title" value="<%= result.title%>">
    <input name="content" value="<%= result.content%>">
    <button type="submit">전송</button>
</form>

</body>
</html>